<div class="container-fluid m-4 col-12 ">
    <table class="fixed_header " align="center">
      <thead class= "d-flex">
        <tr>
          <th>Alert</th>
          <th>Camera</th>
          <th>Date</th>
          <th>Time</th>
          <th>Vehicule Plate</th>
        </tr>
      </thead>
      <tbody>
          <tr  ng-repeat="tab in $ctrl.table" >
              <td><a href="#!/smartCad/LPR/{{tab.id}}">{{tab.id}}</a> </td>
              <td><a href="#!/smartCad/LPR/{{tab.id}}">{{tab.camera}}</a></td>
              <td><a href="#!/smartCad/LPR/{{tab.id}}">{{tab.date}}</a></td>
              <td><a href="#!/smartCad/LPR/{{tab.id}}">{{tab.time}}</a></td>
              <td><a href="#!/smartCad/LPR/{{tab.id}}">{{tab.plate}}</a></td>              
         </tr>
      </tbody>
    </table>    
</div> 
