.fixed_header{
    width: 90%;
    max-width: 1000px;
    table-layout: fixed;
}



.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 200px;
  border: 2px solid;
  border-color: #6c7ae0;
}

.fixed_header thead tr {
   display: block;
}

.fixed_header thead {
  color:#fff;
  background-color: #6c7ae0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.fixed_header th, .fixed_header td {
  padding: 3px;
  text-align: center;
  width: 200px;s
}

tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

td a { 
  display: block; 
  text-decoration:none;
  color:black;
  border: none;
}

td a:hover{
  text-decoration:none;
  color:black;
}

